h1 {
    color: rgb(165, 17, 17);
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

div {
    border: 5px solid rgb(93, 93, 224);
    padding: 25px;
    background-color: aliceblue;
}

img {
    border-radius: 50px;
}

li {
    font-style: italic;
    margin: 10px;
}

p {
    font-style: italic;
}

